.desple{
    background: linear-gradient(rgba(252, 252, 252, 0.70), rgba(255, 255, 255, 0.70));
}

.section{
    padding: 50px 0px 0px;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.destacado{
padding: 0px;
text-align: center;
}

.imagen {
    width: 875px;
    height: 500px;
}

.redes {
    width: 50px;
    margin-right: nth($size , 1);
    margin-top: nth($size , 1);
    margin-left: nth($size , 1);
    z-index: 1;
}

.productos {
    width: 150px;
    height: 150px;
    margin-right: nth($size , 2);
    margin-left: nth($size , 2);
    padding: 0%;
}

.logo {
    width: 300px;
    height: 150px;
}

.compras {
    background: $clr-btn;
    @include compras(white, none,
    4px 20px, 30px, 20px);
}

.compras2 {
    background: $clr-btn;
    @include compras(white, none,
    4px 20px, 30px, 20px);
}

.centrado {
    text-align: center;
}

.flexma {
@extend %row;
margin-right: 25px;
}

.centro {
    @extend %row;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.pie-pagina {
    width: 100%;
}

.espacio {
    padding-bottom: 0px;
}

.espacio2{
    padding-top: 20px;
}

.espacio3{
    padding: 60px 0px 120px;
}

.tienda {
    text-align: center;
    display: flex;
    margin: auto;
    padding: 10px;
}

.tienda2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.enviar {
    color: white;
    text-decoration: none;
    background: $clr-btn;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: $fbt-sze;
}

.medio {
    @extend %row;
    text-align: center;
    margin: auto;
    padding: 10px;
}

.barra {
    color: rgb(121, 18, 134);
    text-decoration: none;
    font-size: 20px;
}

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.boton{
    border: none;
    background: none;
    background-color: $clr-btn;
    cursor: pointer;
}

.info-enviar{
    padding: auto;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo{
    padding-left: 0%;
}

@media (max-width:425px){
    
    .figu{
        width: 95%
    }

    .center{
        text-align: center;
    }
    
    .red{
        padding-right: 0%;
        padding-left: 10%;
    }

    
    .align-items-start {
        align-items: flex-start;
    }

    .order-sm-1,
    .order-sm-2,
    .order-sm-3 {
        order: initial !important;
    }
    
    .order-lg-1,
    .order-lg-2,
    .order-lg-3 {
        order: initial;
    }
    
    .pad{
        padding: 10px 10px 50px 10px
        
    }
    .padd{
        padding: 10px 10px 22px 10px
        
    }
    .img{
        width: 100% !important;
    }
    .uil{

        padding-left: 7% !important
    }
    
}

@media (max-width:768px){
    .med{
        text-align: center;
    }
    .bac{
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(221, 241, 226, 0.815) 53%, rgb(87, 156, 87) 100%);
        padding-left: 10%;
        padding-right: 1000px;
    }

    .im{
        width: 80%
    }

    .uli{

        padding-left: 19%
    }
    
    .uli2{

        padding-left: 14%
    }

    .uli3{

        padding-left: 2% !important
    }

}

@media (max-width:2560px){

    .parrafu{
        width: 90%;
    }
    .img{
        width: 90%
    }
    .log{
        padding-left: 0%;
        padding-right: 10%;
    }

    .ul{
        width: 15%;
    }

    .fle{
        display: flex;
    }
    .ulli {
        padding-left: 0;
      }
}

@media (min-width:1024px){

   
    .img{
        width: 90%
    }
    
    .parraf{
        width: 59%
    }

    .mg{
        width: 80%
    }

    .mig{
        width: 17rem
    }

    .ulil{
        max-width: 50%;
    }

    .ullil {
        padding-left: 0;
      }
    
}

